.main {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    border: 1px solid black;

  }


    

.Box{
    width: 360px;
    /* padding: 10px; */
    margin: 7px;
    height: 500px;
    border: 1px solid black; 
    overflow: scroll;
    font-size: small;



}

img {
    width: 320px;
}
